<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.feige.dao.PermissionMapper">
    <!--    得到指定用户的所有或部分权限-->
    <select id="getPermissions" resultType="com.feige.pojo.Role" parameterType="com.feige.common.utils.SelectParam">
        select r.id id,r.role_name roleName,r.permission permission
        from permission p,role r,user u
        <if test="searchContent!=null">
            where u.id=p.uid and r.id=p.rid and u.username=#{searchContent}
        </if>
        <if test="searchContent==null">
            where u.id=p.uid and r.id=p.rid and u.id=#{id} limit #{page},#{limit}
        </if>
    </select>
    <select id="getPermissionsCount" resultType="int" parameterType="Integer">
        select count(*) from permission p,role r,user u
        where u.id=p.uid and r.id=p.rid and u.id=#{id}
    </select>
    <!--    给指定用户授权-->
    <insert id="addPermission" parameterType="Permission">
        insert into permission values(#{uId},#{rId})
    </insert>
    <!--    删除指定用户的权限-->
    <delete id="deletePermission" parameterType="Permission">
        delete from permission where uid=#{uId} and rid=#{rId}
    </delete>
    <!--    查询permission-->
    <select id="getPermission" parameterType="Permission" resultType="com.feige.pojo.Permission">
        select uid uId,rid rId from permission where uid=#{uId} and rid=#{rId}
    </select>
</mapper>